.continer{
    display: flex;
    justify-content: center;
} 
.form{
    background-color: rgb(138, 128, 12);
    text-align: center;
    padding: 5px;
}
.table{
    text-decoration: solid;
}